---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Info from "../components/Info.astro";
import Work from "../components/Work.astro";
import School from "../components/School.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <Layout title="Welcome to cv-template.">
      <main>
        <Info />
        <Work />
        <School />
      </main>
    </Layout>
  </body>
</html>

<style>
  main {
    padding: 1.5rem;
    color: var(--color-primary);
  }
</style>
