---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Info from "../components/Info.astro";
import Work from "../components/Work.astro";
import School from "../components/School.astro";
---

<Layout title="Welcome to cv-template.">
  <main>
    <section>
      <Info />
    </section>
    <section>
      <Work />
    </section>
    <section>
      <School />
    </section>
  </main>
</Layout>

<style>
  main {
    padding-top: 0.5rem;
  }

  section {
    padding: 0.5rem 1rem;
  }
</style>
